@{
    ViewData["Title"] = localizer["Lawyer Dashboard"];
}
@if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="card border-primary">
                    <div class="card-header text-uppercase text-center"><strong>today's events</strong></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-10 text-uppercase text-left">total cases</div>
                            <div class="col-md-2 font-weight-bolder bg-orange text-center">9</div>
                        </div>
                        <div class="row" style="margin-block:auto">
                            <div class="col-md-10 text-uppercase text-left">pending cases</div>
                            <div class="col-md-2 font-weight-bolder bg-lightblue text-center">9</div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 text-uppercase text-left">closed cases</div>
                            <div class="col-md-2 font-weight-bolder bg-gradient-red text-center">9</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="card border-primary">
                    <div class="card-header text-uppercase text-center"><strong>Cases</strong></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-10 text-uppercase text-left">total cases</div>
                            <div class="col-md-2 font-weight-bolder bg-orange text-center">9</div>
                        </div>
                        <div class="row" style="margin-block:auto">
                            <div class="col-md-10 text-uppercase text-left">pending cases</div>
                            <div class="col-md-2 font-weight-bolder bg-lightblue text-center">9</div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 text-uppercase text-left">closed cases</div>
                            <div class="col-md-2 font-weight-bolder bg-gradient-red text-center">9</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">Cases Hearing Next Week</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-10 text-uppercase text-left">old cases</div>
                            <div class="col-md-2 font-weight-bolder bg-orange text-center">9</div>
                        </div>
                        <div class="row" style="margin-block:auto">
                            <div class="col-md-10 text-uppercase text-left">new cases</div>
                            <div class="col-md-2 font-weight-bolder bg-lightblue text-center">9</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">Clients</div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
else
{
    <div class="container-fluid">
        <div class="row">
            Hi User

        </div>
       
    </div>
}