@{
    ViewData["Title"] = localizer["Institution Register"];
    ViewData["Caption"] = localizer["User's Institution Register"];
}
@model InstitutionRegisterViewMode
<div class="card">
    <div id="viewAll" class="card-body table-responsive">
        <form asp-controller="Hearing" method="post" asp-action="UpdateCaseDate" class="d-inline">
            <div class="row">
                <div class="col-md-12">
                    <table id="tblRegister" class="table table-striped" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Sno.</th>
                                <th>Reference</th>
                                <th>Court.</th>
                                <th>Type</th>
                                <th>No</th>
                                <th>Year</th>
                                <th>Title</th>
                                <th>Institution Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <partial name="_Instition" model="Model" />
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script src="~/js/institutereport.js"></script>
}

