<table id="tblDOType" class="table table-striped" width="100%" cellspacing="0">
    <thead>
        <tr>
            @* <th>Sno.</th> *@
            <th>Type</th>
            <th>Name</th>            
        </tr>
    </thead>
</table>
<script>
    $(document).ready(function () {
        BindDataTable();
    });

    BindDataTable = function () {
        $("#tblDOType").DataTable(
            {
                ajax: {
                    url: "DOType/LoadAll",
                    type: "GET",
                },
                processing: true,
                serverSide: true,
                filter: true,
                columns: [                    
                    { data: "Type", name: "Type" },
                    { data: "Name_En", name: "Name_En" }                    
                ]
            }

        )
    }
</script>