@{
    ViewData["Title"] = localizer["Cadre Master"];
    ViewData["Caption"] = localizer["Manage Cadre Master"];
}
@model CadreMasterViewModel
<div class="card">
    <div class="col-sm-12" style="padding:20px">
        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Cadre.Create)).Result.Succeeded)
        {
            <a onclick="jQueryModalGet('/lawyerdiary/Cadre/OnGetCreateOrEdit','Create Cadre')" class="btn bg-success">
                <i class="fa fa-plus-square"></i> Create
            </a>
        }

        <a id="reload" class="btn btn-primary text-white">
            <i class="fa fas fa-bolt"></i>
            Reload
        </a>
    </div>
    <div id="viewAll" class="card-body table-responsive">
    </div>
</div>
@section Scripts
{
    <script src="~/js/site.js"></script>
    <script>
        $(document).ready(function () {
            $("#tblCadre").DataTable();
            loadData();
            $('#reload').on('click', function () {
                loadData();
            });
        });
        function loadData() {
            $('#viewAll').load('/LawyerDiary/cadre/LoadAll');
        }
    </script>
}