@model IEnumerable<TemplateDlViewModel>
<table id="tblTemplateInfo" class="table table-striped" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Sr.</th>
            <th>Template</th>
           @*  <th>Doc</th> *@
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
        }
        @foreach (var bt in Model)
        {
            <tr>
                <td>
                    @(++count)
                </td>
                <td>
                    @bt.TemplateName
                </td>
                @* <td>
                    @{
                        string path = bt.TemplatePath + bt.TemplateName;
                    }
                    <a href="~/@path" target="_blank">
                        <i class="fa fa-file-pdf" aria-hidden="true"></i>
                    </a>
                </td> *@
                @if ((AuthorizationService.AuthorizeAsync(User, Permissions.TempDesign.Delete)).Result.Succeeded || (AuthorizationService.AuthorizeAsync(User, Permissions.TempDesign.Edit)).Result.Succeeded)
                {
                    <td>
                        <a asp-area="admin" asp-controller="TemplateBuilder" title="Edit the template" asp-action="OnGetCreateOrEdit" asp-route-id="@bt.Id">
                            <i class="fa fa-pencil-square-o"></i>
                        </a>
                        <a title="Map the template dynamic fields" onclick="jQueryModalGet('/Admin/TemplateBuilder/MapFields?id=@bt.Id','Map Form With Template Tags')"><i class="fa fa-map-o"></i></a>                       
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#tblTemplateInfo").DataTable();
    });
</script>