@{
    ViewData["Title"] = localizer["Add New Court"];
    ViewData["Caption"] = localizer["Manage Court"];
}
@model CourtMasterViewModel
<hr/>
<form id="create-form" method="post" asp-controller="CourtMaster" asp-action="OnPostCreateOrEdit"
      asp-route-id="@Model.UniqueId" onsubmit="return jQueryModalPost(this);" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Court Type</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <select name="CourtTypeId" class="form-control select2bs4" id="CourtTypeId" asp-for="CourtTypeId" placeholder="Select Court Type" asp-items="@Model.CourtTypes">
                            <option></option>
                        </select>
                    </div>
                    <span asp-validation-for="CourtTypeId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">State</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <select name="StateCode" class="form-control select2bs4" id="StateCode" asp-for="StateCode"
                                asp-items="@Model.States">
                            <option></option>
                        </select>
                    </div>
                    <span asp-validation-for="StateCode" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">District</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <select name="DistrictCode" class="form-control select2bs4" id="DistrictCode" asp-for="DistrictCode"
                                asp-items="@Model.Districts">
                        </select>
                    </div>
                    <span asp-validation-for="StateCode" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label">Court Name</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <input type="text" asp-for="CourtName" name="CourtName" class="form-control">
                    </div>
                    <span asp-validation-for="CourtName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label">Bench</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <input type="text" asp-for="Bench" name="Bench" class="form-control">
                    </div>
                    <span asp-validation-for="Bench" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-3 col-form-label">Head Querter</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <input type="text" asp-for="HeadQuerter" name="HeadQuerter" class="form-control">
                    </div>
                    <span asp-validation-for="HeadQuerter" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label">Court Address</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <textarea asp-for="Address" name="Address" class="form-control"></textarea>
                    </div>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>

    <div class="form-group justify-content-between" style="margin-bottom: 0px !important">
        <button type="submit" class="btn btn-success">Save</button>
        <button type="submit" class="btn btn-default close-button" onclick="goPrev()">Cancel</button>
    </div>
</form>
<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
</script>
@section Scripts
{
    
    <script>
        function goPrev() {
            window.history.back();
        }
        $(document).ready(function () {
           
            $("#CourtTypeId").select2({
                placeholder: "Select a court type",
                theme: "bootstrap4",
                escapeMarkup: function (m) {
                    return m;
                }
            });
            $("#StateCode").select2({
                placeholder: "Select a state",
                theme: "bootstrap4",
                escapeMarkup: function (m) {
                    return m;
                }
            });
            $("#DistrictCode").select2({
                placeholder: "Select a district",
                theme: "bootstrap4",
                escapeMarkup: function (m) {
                    return m;
                }
            });
            $("#StateCode").on("change", function () {
                $("#DistrictCode").empty();
                $.getJSON("/LawyerDiary/CourtMaster/LoadDistricts?StateCode=" + $("#StateCode").val(), function (data) {
                    $.each(data.Data, function (i, item) {
                        $("#DistrictCode").append(`<option /><option value="${item.DistrictCode}">${item.DistrictName}</option>`);
                    });
                });
            });
        });
    </script>
} 