@model PaginationViewModel<ProceedingSubHeadViewModel>
<table id="tblProceedingSHead" class="table table-striped" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Head</th>
            <th>Name(En)</th>
            <th>Name(Hn)</th>
            @if ((AuthorizationService.AuthorizeAsync(User, Permissions.ProceedingSubHeads.Delete)).Result.Succeeded
                        || (AuthorizationService.AuthorizeAsync(User, Permissions.ProceedingSubHeads.Edit)).Result.Succeeded)
            {
                <th>Actions</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var bt in Model.Data)
        {
            <tr>
                <td>
                    @bt.Head
                </td>
                <td>
                    @bt.Name_En
                </td>
                <td>
                    @bt.Name_Hn
                </td>
                @if ((AuthorizationService.AuthorizeAsync(User, Permissions.ProceedingSubHeads.Delete)).Result.Succeeded ||
                            (AuthorizationService.AuthorizeAsync(User, Permissions.ProceedingSubHeads.Edit)).Result.Succeeded)
                {
                    <td text-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action
                            </button>
                            <div class="dropdown-menu shadow animated--grow-in">
                                @if ((AuthorizationService.AuthorizeAsync(User, Permissions.ProceedingSubHeads.Edit)).Result.Succeeded)
                                {
                                    <a onclick="jQueryModalGet('/LawyerDiary/ProceedingSubHead/OnGetCreateOrEdit?id=@bt.Id','Edit Proceeding Sub Head Type')" class="dropdown-item"><i class="fas fa-pencil-alt"></i>  Edit</a>

                                }
                                @if ((AuthorizationService.AuthorizeAsync(User, Permissions.ProceedingSubHeads.Delete)).Result.Succeeded)
                                {
                                    <form id="form_delete_@bt.Id" asp-area="LawyerDiary"
                                          asp-controller="ProceedingSubHead" method="post" asp-action="OnPostDelete"
                                          asp-route-id="@bt.Id" onsubmit="return jQueryModalDelete(this)">
                                        <a href="javascript:$('#form_delete_@bt.Id').submit();"
                                           class="dropdown-item"><i class="fas fa-trash-alt"></i>  Delete</a>
                                    </form>
                                }
                            </div>
                        </div>
                    </td>
                }
            </tr>
        }
    </tbody>

</table>
<script>
        $(document).ready(function () {
        $("#tblProceedingSHead").DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "/LawyerDiary/ProceedingSubHead/LoadAll", 
                "type": "POST"
            },
            "columns": [
                { "data": "Head" },
                { "data": "Name_En" },
                { "data": "Name_Hn" },
                {
                    "data": null,
                    "render": function (data, type, row) {
                        var actions = '<div class="btn-group">';
                        actions += '<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>';
                        actions += '<div class="dropdown-menu shadow animated--grow-in">';
                        if (data.CanEdit) {
                            actions += '<a onclick="jQueryModalGet(\'/LawyerDiary/ProceedingSubHead/OnGetCreateOrEdit?id=' + row.Id + '\',\'Edit Proceeding Sub Head Type\')" class="dropdown-item"><i class="fas fa-pencil-alt"></i> Edit</a>';
                        }
                        if (data.CanDelete) {
                            actions += '<a href="javascript:$(\'#form_delete_' + row.Id + '\').submit();" class="dropdown-item"><i class="fas fa-trash-alt"></i> Delete</a>';
                        }
                        actions += '</div></div>';
                        return actions;
                    }
                }
            ]
        });
    });
</script>