@{
    ViewData["Title"] = localizer["Proceeding Sub Head"];
    ViewData["Caption"] = localizer["Proceeding Sub Head List"];
}
@model ProceedingSubHeadViewModel
<div class="card">
    <div class="col-sm-12" style="padding:20px">
        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.Brands.Create)).Result.Succeeded)
        {
            <a onclick="jQueryModalGet('/lawyerdiary/ProceedingSubHead/OnGetCreateOrEdit','Create Proceeding Sub Head')" class="btn bg-success">
                <i class="fa fa-plus-square"></i> Create
            </a>
        }

        <a id="reload" class="btn btn-primary text-white">
            <i class="fa fas fa-bolt"></i>
            Reload
        </a>
    </div>
    <div id="viewAll" class="card-body table-responsive">
    </div>
</div>
@section Scripts
{
    <script src="~/js/site.js"></script>
    <script>
        $(document).ready(function () {
            loadData(1, 1000);;
            $('#reload').on('click', function () {
                loadData(1,20);
            });
        });
        function loadData(pN,pS) {
            $('#viewAll').load('/LawyerDiary/ProceedingSubHead/LoadAll?pageNumber=' + pN + '&pageSize='+pS+'');
        }
    </script>
}