@{
    ViewData["Title"] = localizer["Today's Hearing Case Register"];
    ViewData["Caption"] = localizer["Your Case List"];
}
<div class="card">
    <div class="col-sm-12" style="padding:20px">
        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.CaseHearing.Proceeding)).Result.Succeeded)
        {
            <a id="btnProceeding" onclick="jQueryModalGet('/Litigation/casemanage/OnGetCaseProceeding','Assign Proceeding')" class="btn bg-success">
                <i class="fa fa-plus-square"></i> Proceeding
            </a>
        }
        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.CaseHearing.Work)).Result.Succeeded)
        {
            <a id="btnWork" onclick="jQueryModalGet('/Litigation/hearing/AssignWorkCase','Assign Work')" class="btn bg-success">
                <i class="fa fa-plus-square"></i> Work
            </a>
        }
        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.CaseHearing.BringToday)).Result.Succeeded)
        {
            <a id="btnBirngToday" onclick="jQueryModalGet('/Litigation/hearing/GetCaseHearing','Bring Today')" class="btn bg-success">
                <i class="fa fa-calendar"></i> Bring Today
            </a>
        }
    </div>
    <div id="viewAll" class="card-body table-responsive">
    </div>
</div>
@section Scripts
{
    <script src="~/js/site.js"></script>
    <script>
        $(document).ready(function () {
            loadData();
            $('#reload').on('click', function () {
                loadData();
            });
        });
        function loadData() {
            $('#viewAll').load('/Litigation/Hearing/LoadAll');
        }

        $("#btnWork").click(function () {
            var caseHtml = "";
            var CaseArr = [];
            $('#tblTHearingCaseDetail tbody tr').each(function () {
                if ($(this).find("input[type=Checkbox]").is(":checked")) {
                    CaseArr.push($(this).find('input[type="hidden"]').val());
                }
            });
            if (CaseArr.length > 0) {
                $.each(CaseArr, function (index, value) {
                    caseHtml += "<input type='hidden' value='" + value + "'/>";
                });
                $("#create-form").appendTo(caseHtml);
            }
            else {
                alert("Please select atleast one case!", "", "warning");
                return;
            }
        });
    </script>
}