@model IEnumerable<CaseSearchViewModel>
<table id="tblCases" class="table table-striped" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th style="width:5%;">Sno.</th>
            <th style="width:25%;">Case No/Year</th>
            <th style="width:55%;">Parties</th>
            <th style="width:15%;">Document</th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
        }
        @foreach (var bt in Model)
        {
            <tr>
                <td>
                    @(++count)
                </td>

                <td>
                    @bt.NoYear
                </td>
                <td>
                    @string.Concat(bt.Title)
                </td>
                <td>
                    <p>
                        <a href="~/@bt.DocFilePath" target="_blank">
                            <i class="fa fa-file-pdf" aria-hidden="true"></i>
                        </a>
                    </p>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#tblCases").DataTable();
    });
</script>