@{
    ViewData["Title"] = localizer["Add New Client Information"];
    ViewData["Caption"] = localizer["Manage Client"];
    ViewData["Note"] = localizer["All (*) marked fields are mandatory!"];
}

<hr />
@model ClientViewModel
<partial name="_StatusMessage" model="Model.StatusMessage" />
<form id="create-form" method="post" asp-controller="ManageClient" asp-action="OnPostCreateOrEdit"
      asp-route-id="@Model.Id" onsubmit="return jQueryModalPost(this);" enctype="multipart/form-data">

    <div class="row">
       
        <div class="col-md-12">
            <div class="form-group row">
                <label class="col-md-2 col-form-label">First Name (<span style="color:red">*</span>)</label>
                <div class="col-md-4">
                    <input type="text" placeholder="Please enter first name" asp-for="FirstName" name="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <label class="col-md-2 col-form-label">Middle Name</label>
                <div class="col-md-4">
                    <input type="text" placeholder="Please enter middle name" asp-for="MiddleName" name="MiddleName" class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group row">
                <label class="col-md-2 col-form-label">Last Name (<span style="color:red">*</span>)</label>
                <div class="col-md-4">
                    <input type="text" placeholder="Please enter last name" asp-for="LastName" name="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <label class="col-md-2 col-form-label">Father Name (<span style="color:red">*</span>)</label>
                <div class="col-md-4">
                    <input type="text" placeholder="Please enter father name" asp-for="FatherName" name="FatherName" class="form-control" />
                    <span asp-validation-for="FatherName" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group row">
                <label class="col-md-2 col-form-label">Mobile (<span style="color:red">*</span>)</label>
                <div class="col-md-4">
                    <input type="tel" maxlength="10" placeholder="Please enter mobile" asp-for="Mobile" name="Mobile" class="form-control" />
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
                <label class="col-md-2 col-form-label">Phone</label>
                <div class="col-md-4">
                    <input type="tel" asp-for="Phone" placeholder="Please enter phone" maxlength="10" name="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group row">
                <label class="col-md-2 col-form-label">Email (<span style="color:red">*</span>)</label>
                <div class="col-md-4">
                    <input type="email" placeholder="Please enter email" asp-for="Email" name="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <label class="col-md-2 col-form-label">Office Email</label>
                <div class="col-md-4">
                    <input type="email" placeholder="Please enter official email" asp-for="OfficeEmail" name="OfficeEmail" class="form-control" />
                    <span asp-validation-for="OfficeEmail" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group row">
                <label class="col-md-2 col-form-label">DOB (<span style="color:red">*</span>)</label>
                <div class="col-md-4">
                    <input type="date" placeholder="Please enter dob" asp-for="Dob" name="Dob" class="form-control" />
                    <span asp-validation-for="Dob" class="text-danger"></span>
                </div>

            </div>
        </div>
    </div>
    @localizer["Client Address Detail"]
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group row">
                <label class="col-md-2 col-form-label">State (<span style="color:red">*</span>)</label>
                <div class="col-md-4">
                    <select name="StateCode" class="form-control select2bs4" id="StateCode" asp-for="StateCode"
                            asp-items="@Model.States">
                        <option></option>
                    </select>
                    <span asp-validation-for="StateCode" class="text-danger"></span>
                </div>
                <label class="col-md-2 col-form-label">District (<span style="color:red">*</span>)</label>
                <div class="col-md-4">
                    <select name="DistrictCode" class="form-control select2bs4" id="DistrictCode" asp-for="DistrictCode"
                            asp-items="@Model.Districts">
                    </select>
                    <span asp-validation-for="DistrictCode" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group row">
                <label class="col-md-2 col-form-label">Address</label>
                <div class="col-md-10">
                    <textarea asp-for="Address" name="Address" class="form-control" placeholder="Please enter address"></textarea>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
        </div>

    </div>

    <div class="form-group justify-content-between" style="margin-bottom: 0px !important">

        <button type="submit" class="btn btn-success">Save</button>
        <button type="submit" class="btn btn-default close-button" data-dismiss="modal">Cancel</button>
    </div>
</form>
<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
    $("#StateCode").select2({
        placeholder: "Select a state",
        theme: "bootstrap4",
        escapeMarkup: function (m) {
            return m;
        }
    });
    $("#DistrictCode").select2({
        placeholder: "Select a district",
        theme: "bootstrap4",
        escapeMarkup: function (m) {
            return m;
        }
    });

    $("#StateCode").on("change", function () {
        $("#DistrictCode").empty();
        $.getJSON("/Client/ManageClient/LoadDistricts?StateCode=" + $("#StateCode").val(), function (data) {
            $.each(data.Data, function (i, item) {
                $("#DistrictCode").append(`<option /><option value="${item.Code}">${item.Name_En}</option>`);
            });
        });
    });
</script>
@section Scripts
{
    <script>
        function loadData() {
            $('#viewAll').load('/Client/ManageClient/LoadAll');
        }
        $(document).ready(function () {
            $("#brandTable").DataTable();
            loadData();
            $('#reload').on('click', function () {
                loadData();
            });
            $('#btnCancel').on('click', function () {
                window.history.back();
            });

            $("#StateCode").select2({
                placeholder: "Select a state",
                theme: "bootstrap4",
                escapeMarkup: function (m) {
                    return m;
                }
            });
            $("#DistrictCode").select2({
                placeholder: "Select a district",
                theme: "bootstrap4",
                escapeMarkup: function (m) {
                    return m;
                }
            });

            $("#StateCode").on("change", function () {
                $("#DistrictCode").empty();
                $.getJSON("/Client/ManageClient/LoadDistricts?StateCode=" + $("#StateCode").val(), function (data) {
                    $.each(data.Data, function (i, item) {
                        $("#DistrictCode").append(`<option /><option value="${item.Code}">${item.Name_En}</option>`);
                    });
                });
            });
        });
    </script>
}