@model FmpNoticeAdmissionViewModel
<style>
    .a4-size {
        width: 210mm;
        height: 297mm;
    }

    #rectangle {
        width: 10px;
        height: 10px;
        border: 1px;
    }
</style>
<div id="printableArea">
    @foreach (var cd in Model.Cases)
    {
        <div style="width:800px; line-height:40px;page-break-after: always; padding-left:50px">
            <center>
                <span style="font-weight:bold;font-size:28px">   In the High Court of Judicature for </span><br />
                Rajasthan at-Jaipur<br />
            </center>
            <br />
            In the matter of S.B./D.B./ Civil Writ Case No  @cd.NoYear<br />
            <br />
            Petitioner	 @cd.Applent				V/s		 @cd.Respondent		Respondent—
            <br />
            <br />
            To<br />
            @cd.CompleteTitle
            <br />
            <br />

            Whereas the above named petitioner ...............................................................
            ...........................................................................................................................................
            application has made an application supported by an affidavit to the Court, Copies of which are herewith annexed and whereas the application has been ADMITTED.
            I am therefore direct to inform you that the case will heard in the court in the presence of  both the parties on the.................................................................................... day of ..................... 20........................ at 10:30 O’ Clock in the forenoon and request to you kindly arrange representation on your behalf to show cause why the application be not accepted failing which the application will be heard and determined ex-party.


            Given under my hand and the seal of Court, this ………………………………… day of ………………………..20.................................

        </div>
    }
</div>
