
<div id="printableArea">
    @* @foreach (var cd in Model.Cases)
    { *@
        <div style="page-break-after: always;" class="a4-size">
            <div class="center-text">
                IN THE HIGH COURT OF [STATE NAME] AT [CITY NAME]<br />
                (CIVIL / CRIMINAL JURISDICTION)
            </div>
            <div class="form-section line-space">
                <strong>Case No.:</strong> ________ / ________ <br />
                <strong>Petitioner(s):</strong> [Petitioner Name(s)]<br />
                <strong>Respondent(s):</strong> [Respondent Name(s)]
            </div>
            <div class="center-text" style="margin-top: 30px; text-decoration: underline;">
                TALWANA FORM
            </div>

            <div class="form-section">
                To,<br />
                The Registrar,<br />
                High Court of [State Name],<br />
                [City Name].
            </div>

            <div class="form-section indent">
                Sir/Madam,
            </div>

            <div class="form-section indent">
                It is respectfully submitted that in the above-mentioned case, the service of notice/summons upon the Respondent(s)/Witness(es) is required through the concerned Police Station, as ordinary service has either failed or is not likely to be effective.
            </div>

            <div class="form-section indent">
                Kindly arrange for the issuance of notice/summons through <strong>Talwana</strong> mode.
            </div>

            <div class="form-section">
                <strong>Details of Respondent/Witness:</strong><br />
                - Name: ___________________________<br />
                - Father’s Name: ___________________________<br />
                - Address: ___________________________<br />
                - Police Station: ___________________________<br />
                - District: ___________________________
            </div>

            <div class="form-section">
                <strong>Enclosed:</strong><br />
                1. Copy of Petition/Application<br />
                2. Notice/Summons<br />
                3. Postal Cover with Address<br />
                4. Talwana Fees / Process Fee Receipt<br />
                5. Affidavit (if required)
            </div>

            <div class="form-section indent">
                It is therefore prayed that the notice/summons be issued and served through the concerned Police Station under Talwana.
            </div>

            <div class="form-section">
                Dated: ___ / ___ / 20__ <br />
                Place: ___________________
            </div>

            <div class="signature-section right-align">
                (Signature of Advocate / Party in Person)<br />
                Name: ___________________________<br />
                Advocate Code: __________________<br />
                Contact No.: ____________________
            </div>
        </div>
    @* } *@
</div>