@{
    ViewData["Title"] = localizer["Pending Work Register"];
  
}
@model CaseWorkingViewModel
<div class="card">   
    <div id="viewAll" class="card-body table-responsive">
    </div>
</div>
@section Scripts
{
    <script src="~/js/site.js"></script>
    <script>
        $(document).ready(function () {
            loadData();
            $('#reload').on('click', function () {
                loadData();
            });
        });
        function loadData() {
            $('#viewAll').load('/Litigation/CaseWork/LoadAll');
        }        
    </script>
}