@{
    ViewData["Title"] = localizer["Case Pending Work List"];
    // ViewData["Caption"] = localizer["Work List"];
}
@model CaseWorkingViewModel
<div class="card">
    <div class="col-sm-12" style="padding:20px">
        @if ((AuthorizationService.AuthorizeAsync(User, Permissions.CaseWorks.Create)).Result.Succeeded)
        {
            <a class="btn bg-success" id="btnSave">
                <i class="fa fa-handshake-o"></i> Save
            </a>
        }

        @*  <a id="reload" class="btn btn-primary text-white">
        <i class="fa fas fa-bolt"></i>
        Reload
        </a> *@
    </div>
    <div id="viewAll" class="card-body table-responsive">
    </div>
</div>
@section Scripts
{
    <script src="~/js/site.js"></script>
    <script>
        $(document).ready(function () {
            loadData();
            $('#reload').on('click', function () {
                loadData();
            });
        });
        function loadData() {
            $('#viewAll').load('/Litigation/CaseWork/LoadAll');
        }
        $("#btnSave").click('click', function () {
            alert("hello");
        });
    </script>
}