@using CourtApp.Application.Enums
@{
    ViewData["Title"] = localizer["Add New Form"];
    ViewData["Caption"] = localizer["Dynamic Form Builder"];
}
<style>
    .div_hide {
        display: none
    }

    fieldset.scheduler-border {
        border: 1px groove #ddd !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
        width: 100% !important;
    }

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        border-bottom: none;
    }
</style>
@model GenerateFormViewModel
<form id="create-form" method="post" asp-controller="GenerateForm" asp-action="OnPostCreateOrEdit"
      asp-route-id="@Model.Id" onsubmit="return jQueryModalPost(this);" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group row">
                <label class="col-md-3 col-form-label">@localizer["Template Name"]</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <input type="text" placeholder="Please enter form name" asp-for="FormName" class="form-control" title="Please enter form name!">
                    </div>
                    <span asp-validation-for="FormName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Template Data Fields </legend>
                    <table id="tblFormFields" border="1" style="width:100%!important">
                        <thead>
                            <tr>
                                <th width="20%" rowspan="2">Label</th>
                                <th width="20%" rowspan="2">Type</th>
                                <th width="8%" rowspan="2">Is Req.</th>
                                <th width="7%" rowspan="2">Order</th>
                                <th width="15%" rowspan="2">Placeholder</th>
                                <th width="25%" colspan="2" style="text-align:center">Length</th>
                                <th width="5%" rowspan="2"></th>
                            </tr>
                            <tr>
                                <th style="text-align:center">Min.</th>
                                <th style="text-align:center">Max.</th>
                            </tr>
                        </thead>
                        <tbody class="data-repeater">
                            <tr class="kolom">
                                <td><input type="text" asp-for="Form.Fields[0].Name" width="300px" placeholder="Enter label name" class="form-control" title="Please enter field label name!" /></td>
                                <td><select asp-for="Form.Fields[0].Type" asp-items="Html.GetEnumSelectList<FieldType>()" class="form-control" title="Please enter type name!"><option>--Select--</option></select></td>
                                <td><input type="checkbox" asp-for="Form.Fields[0].IsRequire" class="form-control" title="Please tick field if would be mandatory!" /></td>
                                <td><input type="number" asp-for="Form.Fields[0].DispOrder" placeholder="Enter field display order" class="form-control" title="Please provide field display order number!" /></td>
                                <td><input type="text" asp-for="Form.Fields[0].Placeholder" placeholder="Enter field placeholder name" class="form-control" title="Please enter field placeholder name!" /></td>
                                <td><input type="text" asp-for="Form.Fields[0].FieldSize.Min" placeholder="Enter field min length" class="form-control" title="Please enter field min. length!" /></td>
                                <td><input type="text" asp-for="Form.Fields[0].FieldSize.Max" placeholder="Enter field min length" class="form-control" title="Please enter field max. length!" /></td>
                                <td class="btn-repeater">
                                    <button class="add-btn-repeat btn btn-success" onclick="addElement($(this))" type="button"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>

    <div class="form-group justify-content-between" style="margin-bottom: 0px !important">
        <button type="submit" class="btn btn-success">Save</button>
        <button type="submit" class="btn btn-default close-button" data-dismiss="modal">Cancel</button>
    </div>
</form>
<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
</script>
<script src="~/js/App/GenerateForm.js"></script>